/* ------ */
/* Footer */
/* ------ */

.footer {
  background: var(--clr-primary-700);
  color: var(--clr-secondary-100);
}

.footer-wrapper {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding-block: 56px;
}

.footer-nav {
  flex-direction: column;
  gap: 32px;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;

  letter-spacing: 2px;
}

@media (min-width: 48em) {
  .footer-wrapper {
    flex-direction: row;
    padding-block: 24px;
    gap: 48px;
  }

  .footer-nav {
    flex-direction: row;
    gap: 42px;
  }

  .social-links {
    margin-left: auto;
  }
}
