/* ------------ */
/* Preview Card */
/* ------------ */

.preview-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-details {
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;

  border-block: 1px solid #979797;
}

.card-title {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  line-height: 42px;
  letter-spacing: -0.36px;
  font-family: var(--ff-accent);
}

.card-description {
  font-size: var(--fs-300);
  line-height: 30px;
}

@media (min-width: 48em) {
  .preview-card {
    flex-direction: row;
    gap: 69px;
    align-items: center;
  }

  .preview-card:nth-child(2n) {
    flex-direction: row-reverse;
    align-self: end;
  }

  .card-details {
    padding-block: 32px 50px;
    gap: 29px;

    flex: 1 1 281px;
  }

  .card-description {
    margin-bottom: 5px;
  }

  .card-image {
    flex: 1 1 339px;
  }
}

@media (min-width: 69.4375em) {
  .preview-card {
    max-width: 1015px;
    gap: 125px;
    align-items: stretch;
  }

  .card-image {
    min-width: 540px;
  }

  .card-details {
    justify-content: center;
    gap: 24px;
  }

  .card-description {
    margin-bottom: 0px;
  }

  .card-title {
    margin-bottom: 4px;
  }
}
